*.a
*.a.*
*.exp
*.in
*.la
*.lo
*.o
*.o.*
*.py[co]
*.so
*.so.*
*.tar.gz
.sw*
*~
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
root/
tags
bindings/python/python/build/
example/eblob_index_info
example/eblob_merge
example/eblob_open
example/eblob_regex_iter
tests/eblob_cpp_test
tests/eblob_stress
tests/tmp/
build/*
