Source: eblob
Section: net
Priority: optional
Maintainer: Evgeniy Polyakov <zbr@ioremap.net>
Build-Depends: debhelper (>= 7),
               cmake (>= 2.6),
               libboost-dev,
               libboost-iostreams-dev,
               libboost-python-dev,
               libboost-regex-dev,
               libboost-thread-dev,
               libsnappy-dev,
               python-dev,
               python-support
Standards-Version: 3.8.0
Homepage: http://www.ioremap.net/projects/eblob

Package: eblob
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: BLOB data container
 EBLOB is append data storage with fast indexes and comprehensive API

Package: eblob-dbg
Architecture: any
Depends: eblob(=${binary:Version})
Description: BLOB data container
 EBLOB is append data storage with fast indexes and comprehensive API
