Source: eblob
Section: net
Priority: optional
Maintainer: Evgeniy Polyakov <zbr@ioremap.net>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               libboost-dev,
               libboost-iostreams-dev,
               libboost-thread-dev,
               libsnappy-dev,
               python-dev,
               libboost-python-dev,
               libboost-regex-dev,
               cmake (>= 2.6)
Standards-Version: 3.8.0
Homepage: http://www.ioremap.net/projects/eblob

Package: eblob
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BLOB data container
  EBLOB is append data storage with fast indexes and comprehensive API

Package: eblob-dbg
Architecture: any
Depends: ${binary:Version}
Description: BLOB data container
  EBLOB is append data storage with fast indexes and comprehensive API
