Source: eblob
Section: database
Priority: optional
Maintainer: Evgeniy Polyakov <zbr@ioremap.net>
Build-Depends:
 cmake (>= 2.6),
 debhelper (>= 7.0.50~),
 libboost-dev,
 libboost-iostreams-dev,
 libboost-python-dev,
 libboost-regex-dev,
 libboost-system-dev,
 libboost-thread-dev,
 python-dev,
 python-support,
 handystats (>= 1.10.2)
Standards-Version: 3.8.0
Homepage: http://www.reverbrain.com/eblob/
Vcs-Git: git://github.com/reverbrain/eblob.git
Vcs-Browser: https://github.com/reverbrain/eblob

Package: eblob
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, handystats (>= 1.10.2)
Description: BLOB data container
 EBLOB is append data storage with fast indexes and comprehensive API

Package: eblob-dbg
Architecture: any
Section: debug
Priority: extra
Depends: eblob (= ${binary:Version}), ${misc:Depends}
Description: BLOB data container
 EBLOB is append data storage with fast indexes and comprehensive API
