#!/usr/bin/make -f

%:
	dh --buildsystem=cmake $@

override_dh_auto_configure:
	DESTDIR="$(CURDIR)/debian/eblob" dh_auto_configure \
		--buildsystem=cmake -- \
		-DCMAKE_INSTALL_PREFIX="/usr" \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo

override_dh_auto_install:
	dh_auto_install \
		--destdir="$(CURDIR)/debian/eblob"
		--buildsystem=cmake

override_dh_makeshlibs:
	dh_makeshlibs -V "eblob (>= $(shell head -n1 debian/changelog |  sed -e 's/.*[(]//' | sed -e 's/[)].*//' | tr -d '\n' | cut -d . -f 1-2))"

override_dh_strip:
	dh_strip --dbg-package=eblob-dbg

